:root{
  --color-dark-0: #1e212b;
    --color-dark-1: #191823;
    --color-dark-2: #333;
    --color-dark-3: rgb(109, 109, 109);
    --color-dark-tranparent: #343249e0;
    --color-light: rgb(208, 208, 208);
    --color-highlight: #02dd97;
    --color-text-highlight:#f5deb3
  }